.ant-form-item {
  &.ant-form-item-has-error {
  .ant-input {
    border:1px solid red !important;
  }
  }
}
.form-container {
  background: lighten(@light-yellow, 15) ;
  padding:10px;
  min-height:600px;
  display:flex;
  flex-direction: column;
  button {
    width :100%;
  }

}
