.post-list-container {
  height: fit-content;
  padding:30px;
}

.post-card {
  margin:10px;
  box-shadow: 0 0.2em 1em @box-shadow-gray;
  background-color: white;
  padding:20px 40px;
  align-self: baseline;
  font-size:16px;
  display: flex;
  flex-direction: column;
  font-family: 'Special Elite', cursive;
  letter-spacing: 2px;
  max-width:80%;
  margin:1rem auto;
  max-height:300px;

  blockquote {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    padding: 0 0.5rem;
    position:relative;
  }
  blockquote:before {
	content: '“';
    left: -1.5rem;
    top: -1rem;
  }

  blockquote:after {
	content: '”';
    right: -1rem;
    bottom: 0;
  }
  blockquote:before,
  blockquote:after {
    position: absolute;
    color: @light-yellow;
    font-size: 4rem;
    width: 2rem;
    height: 2rem;
  }
  p {
    font-style: italic;
    display:block;
    text-align:right;
    margin:10px 0 0 0;
    height:auto;
    font-size:0.8rem;
  }
}
 


